* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  padding: 10px;
  min-height: 100dvh;
}

.uploadedFileContainer {
  display: grid;
  gap: 5px;
  grid-template-columns: auto 300px;
  margin-top: 20px;
  min-height: 200px;
  max-width: 600px;
}

.uploadedFileBox {
  background-color: #eee;
  position: relative;
}
.uploadedFileBox_svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.uploadedFileBox_points {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.layersBox {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #ddd;
  padding: 10px;
}

.layer {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  background-color: #fff;
}

.layerControlPanel {
  margin-top: 10px;
}

.panel {
  border: 1px solid #ddd;
  width: min(90%, 300px);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  display: flex;
  gap: 10px;
}
